p {
    font-size: 20pt;    
}

body{
    background-color: rgb(215, 249, 250);
    text-align: center;
}

footer{
    position:absolute;
    width: 100%;
    bottom: 2px;
}

#inputText {
    border-radius: 5px;
    width: 600px;
    height: 150px;
    font-size: 20pt;
    resize: none;
    border: none;
    padding: 20px;
    background-color: rgb(242, 226, 189);
}

#translateButton {
    display: block;
    margin: auto;
    width: 600px;
    cursor: pointer;
    height: 30px;
    background-color: rgb(163, 220, 255);
}

h1 {
    font-size: 40pt;
}

#copyright {
    font-size: 10pt;
}

#outputText {
    margin: auto;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    margin-top: 10px;
    font-size: 20pt;
    resize: none;
    border: none;
    padding: 20px;
    background-color: rgb(242, 226, 189);
}